*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background: #333;
  font-size: 62.5%;
  overflow: hidden;
}

.gameOfLife {
  width: 350px;
  height: 350px;
  background: #000;
  margin: 10rem auto;
  display: flex;
  flex-wrap: wrap;
}
