*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background: black;
  font-size: 62.5%;
  overflow: hidden;
}

.gameOfLife {
  width: 350px;
  height: 350px;
  background: black;
  margin: 10rem auto;
  display: flex;
  flex-wrap: wrap;
}

.btn {
  display: flex;
  width: 50%;
  margin: 2rem auto;
  justify-content: space-around;
  align-items: center;
  background: #333;
}

button {
  padding: 1rem 2rem;
  background: blue;
  color: white;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
}
